name: 'Mobile Release'

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  android-build:
    name: Android Build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./mobile/android

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: mobile/package-lock.json

    - name: Install Dependencies
      working-directory: ./mobile
      run: npm ci

    - name: Build Android Release
      run: ./gradlew assembleRelease

    - name: Rename APK
      run: |
        mv app/build/outputs/apk/release/app-release.apk app/build/outputs/apk/release/LyrinEye-${{ github.ref_name }}.apk

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: mobile/android/app/build/outputs/apk/release/LyrinEye-${{ github.ref_name }}.apk
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
